.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info

.env
token.txt
cookie.txt
data
logs
output_dir
jenkins_output

gluetun
glutenn_openvpn.zip
servers.json
windscribe
Windscribe-*.conf

*.mp4
*.mp3
*.mkv
*.webm
*.flv
*.avi
*.aac
*.ogg
*.wav

.DS_Store
